:root {
  --branding-color: #3a4660;
  --secondary-color: #f7e8f0;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  color: rgba(0, 0, 0, 0.813);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}
h2,
h4 {
  color: var(--branding-color);
  font-size: 40px;
  font-family: var(--heading-font-family);
  font-weight: 600;
}

p {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.logo {
  max-height: 60px;
  margin-top: 5px;
}
.logo-small {
  max-height: 40px;
  margin-top: 23px;
}
nav ul {
  padding: 0;
  margin: 0;
  font-family: var(--default-font-family);
}
nav li {
  display: inline;
  list-style: none;
  line-height: 90px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 600;
}
nav a:hover,
nav li.active a {
  color: rgba(135, 32, 135, 0.686);
}

.btn {
  margin: 0px 15px;
  font-family: var(--default-font-family);
  font-weight: 500 !important;
}
.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 600;
  font-family: "PT Mono", monospace;
  color: var(--branding-color);
}
.hero h2,
.hero span {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 600;
  color: var(--branding-color);
}
.hero span {
  font-size: 35px;
}
.btn-branding {
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  background-color: var(--branding-color);
  color: white;
  font-weight: 600;
}
.btn-branding:hover {
  background-color: #4d525d !important;
  color: white !important;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: var(--branding-color) !important;
  border: 1px solid transparent !important;
  background-color: var(--secondary-color) !important;
  border-radius: 5px;
}
.image-left-side {
  float: right !important;
}
.image-right-side {
  float: left !important;
}
.project-description {
  padding: 15px 10px;
}
.tools {
  opacity: 0.9;
  font-size: 22px;
}
.content-container {
  padding: 60px 20px;
}
.content-container h1,
.content h1 {
  font-size: 50px;
  line-height: 1.5;
  color: var(--branding-color);
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}
.content-container p {
  font-size: 20px;
}
.content-container .btn {
  background-color: var(--branding-color);
}
.content-container .btn:hover {
  background-color: var(--secondary-color) !important;
  color: var(--branding-color) !important;
}
.content a {
  color: #24748f;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: rgba(135, 32, 135, 0.686);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 6px;
}
.contact-box h4 {
  font-size: 30px;
}
.contact-box p {
  font-size: 20px;
}
.contact-box a .contact-me:hover {
  background-color: #4d525d !important;
}
.github-main-link {
  font-size: 16px;
  font-family: "PT Mono", monospace;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 32px;
  }
  .hero h2,
  .hero span {
    font-size: 20px;
  }
  .intro {
    font-size: 20px;
  }
  .content-container {
    padding: 20px;
  }
  .content-container h1 {
    font-size: 35px;
  }
  .content-container p {
    font-size: 18px;
  }
  footer h2 {
    font-size: 30px;
  }
  nav a {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .btn {
    margin-top: 10px;
  }
}
