:root {
  --branding-color: rgba(77, 53, 127, 0.916);
  --secondary-color: rgba(234, 230, 242, 0.581);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  font-weight: 600;
}
p {
  font-family: var(--default-font-family);
  font-size: 26px;
  line-height: 30px;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  font-weight: 500;
  color: #272142;
}

.btn-branding {
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  background-color: var(--branding-color);
  color: white;
  font-weight: 600;
}
.btn-branding:hover {
  background-color: rgba(53, 18, 123, 0.855) !important;
  color: white !important;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: var(--branding-color) !important;
  border: 1px solid transparent !important;
  background-color: var(--secondary-color) !important;
  border-radius: 5px;
}

img {
  float: right !important;
}

.project-description {
  padding: 120px 60px;
}
.tools {
  opacity: 0.8;
  font-size: 22px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 68px;
  }
}
